## get from my.telegram.org
API_ID = int(os.environ.get("API_ID", 0))
API_HASH = os.environ.get("API_HASH", None)

## get it from @BotFather in Telegram.
BOT_TOKEN = os.environ.get("BOT_TOKEN", None)

## get it from @showinfobot in Telegram.
OWNER_ID = int(os.environ.get("OWNER_ID", 0))
